# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# VS Code
.vscode/

# Misc
*.log
*.tsbuildinfo

# Production
public/build/

# Optional: Ignore coverage reports
coverage/

# Optional: Ignore IDE settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
